body{

}

input{
	border:none;
	font-size:16px;
}

.match{
	border-top:1px #000;
}

.redMatches{
}

.blueMatches{
}

.matchNum{
	font-size:30px;
	width:175px;
}

.matchStatus{
	
}

#container{
	font-family:arial;
	margin:auto;
	width:1000px;
}

