body{

}

input{
	border:none;
	font-size:16px;
}

.match{
	width:1000px;
	display:block;
	border-top:1px #000 solid;
	padding-bottom:20px;
}

.redMatches{
	color:red;
	font-size:23px;
	width:400px;
}

.blueMatches{
	color:blue;
	font-size:23px;
	width:400px;
}

.team{
	width:60px;
	padding-left:10px;
}

.score{
	width:200px;
}

.matchNum{
	font-size:30px;
	width:175px;
}

.matchStatus{
	
}

#container{
	font-family:arial;
	margin:auto;
	width:1000px;
}

